<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Builder News</title>
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="favicons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">

  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/chui-ios-3.7.0.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/vendor/chui-3.7.0.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/localforage.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
</head>
<body ng-app ng-controller="MainCtrl">

  <nav>
    <h1>Builder News</h1>
  </nav>
  <article id="main" class="current">
    <section>
      <div class="horizontal centered bn-segment-container">
        <div class="segmented bn-segments">
          <a class="button bn-all selected" ng-click="displayNews('all')">All</a>
          <a class="button bn-hn" ng-click="displayNews('hackernews')">Hacker</a>
          <a class="button bn-dn" ng-click="displayNews('designernews')">Designer</a>
        </div>
      </div>
      <img src="img/loader.gif" class="loader" ng-show="!loaded">
      <ul class="list builder-news">
        <li ng-repeat="item in displayedNews | limitTo: defaultLimit" class="bn-news-row">
          <span class="bn-rank">{{$index + 1}}</span>
          <span class="bn-star" ng-click="bookmarkItem(item)">
            <i class="fa {{checkBookmark(item.url)}} fa-2x"></i>
          </span>
          <div class="bn-news-item" ng-click="selectItem(item)">
            <h3 class="bn-news-title">{{item.title}} 
              <span ng-show="item.domain.length > 0" class="bn-news-domain">({{item.domain}})</span>
            </h3>
            <div>
              <span>{{item.points_text}}</span> and <span>{{item.comments}}</span> &middot;
              <span>{{item.time}}</span> by {{item.author}} &middot;
              <span class="{{item.type}}">{{{designernews: 'Designer News', hackernews: 'Hacker News'}[item.type]}}</span>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </article>

  <nav>
    <h1>Favourites</h1>
  </nav>
  <article id="favourites" class="next">
    <section>
      <div ng-show="favourites.length === 0" class="text-center empty-favourites-container">
        <i class="fa fa-star-o fa-4x"></i>
        <h3 class="empty-favourites">Your favourites list is empty.<br>Click on the <i class="fa fa-star-o"></i> icon to<br> add links to your favourites.</h3>
      </div>
      <ul class="list">
        <li ng-repeat="item in favourites track by $index" class="bn-news-row">
          <span class="bn-rank">{{$index + 1}}</span>
          <span class="bn-star" ng-click="bookmarkItem(item)">
            <i class="fa fa-times fa-lg"></i>
          </span>
          <div class="bn-news-item" ng-click="selectItem(item)">
            <h3 class="bn-news-title">{{item.title}} 
              <span ng-show="item.domain.length > 0" class="bn-news-domain">({{item.domain}})</span>
            </h3>
            <div>
              <span>{{item.points_text}}</span> and <span>{{item.comments}}</span> &middot;
              <span>{{item.time}}</span> by {{item.author}} &middot;
              <span class="{{item.type}}">{{{designernews: 'Designer News', hackernews: 'Hacker News'}[item.type]}}</span>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </article>

  <nav>
    <h1>Settings</h1>
  </nav>
  <article id="settings" class="next">
    <section>
      <ul class="list">
        <li>
          <div>
            <h3>Default Feed</h3>
            <p>The type of feed to show when you first load the app.</p>
            <div class="horizontal centered bn-segment-container">
              <div class="segmented bn-segments">
                <a class="button bn-all selected" ng-click="makeDefault('all')">All</a>
                <a class="button bn-hn" ng-click="makeDefault('hackernews')">Hacker</a>
                <a class="button bn-dn" ng-click="makeDefault('designernews')">Designer</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div>
            <h3>Feed Limit</h3>
            <p>The number of items to show on the home page.</p>
            <h2 class="feed-limit text-center">{{defaultLimit}}</h2>
            <input type="range" id="feed-limit-input" ng-value="defaultLimit" min="10" max="55" ng-model="defaultLimit" ng-change="setDefaultLimit()">
          </div>
        </li>
      </ul>
    </section>
  </article>

  <nav>
    <h1>About</h1>
  </nav>
  <article id="about" class="next">
    <section>
      <img src="img/builder-news-icon.png" class="bn-icon">
      <div class="bn-about">
        <h2 class="bn-app-name text-center">Builder News</h2>
        <h3 class="text-center">An aggregator for Hacker News and Designer News</h3>
        <ul class="list bn-about-list">
          <li class="nav" data-link="https://news.ycombinator.com/news">
            <h3><i class="fa fa-hacker-news fa-lg hackernews"></i> Hacker News Homepage</h3>
          </li>
          <li class="nav" data-link="https://news.layervault.com/">
            <h3><i class="fa fa-picture-o fa-lg designernews"></i> Designer News Homepage</h3>
          </li>
          <li class="nav" data-link="https://github.com/yangshun/builder-news">
            <h3><i class="fa fa-github fa-lg"></i> Builder News on Github</h3>
          </li>
          <li class="nav" data-link="mailto:tay.yang.shun@gmail.com">
            <h3><i class="fa fa-envelope-o fa-lg contact-icon"></i> Send Feedback</h3>
          </li>
        </ul>
        <h3 class="text-center">Built by Tay Yang Shun</h3>
        <p class="text-center">Not affliated with Hacker News and Designer News.</p>
      </div>
    </section>
  </article>

  <script src="js/main.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
